body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Myriad Pro'; }

h1 {
  background: url("../images/jrubykaigi2011_logo.png") no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
  width: 1060px;
  height: 240px; }

h2, h3 {
  margin: 0.2em 0; }

#wrapper {
  width: 1060px;
  margin: auto; }

#main > * {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #bbb;
  background: #fff;
  width: 320px;
  height: 500px;
  display: block;
  float: left;
  margin: 5px;
  padding: 10px;
  vertigal-align: top; }

#main:after {
  content: "hoge";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden; }

#parts > * {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  width: 320px;
  border: 1px solid pink;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  vertical-align: top; }

#slideshow {
  background: white;
  border: 3px double gray;
  border-width: 3px 0; }

.message {
  background: url(../images/jruby_duke.png) left 50% no-repeat;
  font-style: italic;
  height: 60px;
  padding-left: 64px;
  line-height: 50px; }
