body {
  margin: 0;
  padding: 0;
  background: url(../images/brick.jpg) repeat-y right 60px black;
  font-family: 'Myriad Pro'; }

h1 {
  margin: 0;
  background: url("") no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
  width: 1500px;
  height: 240px; }

h2, h3, h4 {
  margin: 0; }

h2 {
  border-bottom: 3px double #fdc;
  font-size: 200%; }

#wrapper {
  padding-left: 200px;
  width: 1300px;
  margin: auto;
  margin-right: 0;
  background: url(../images/wall.jpg) no-repeat right top transparent; }

#main > * {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bbb;
  background: #fff;
  margin: 5px;
  padding: 10px;
  border: 1px solid #bbb;
  background: #fff;
  width: 320px;
  min-height: 300px;
  display: block;
  float: left;
  margin: 5px;
  padding: 10px;
  vertigal-align: top; }

#main:after {
  content: "hoge";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden; }

#parts > * {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bbb;
  background: #fff;
  margin: 5px;
  padding: 10px;
  width: 320px;
  display: inline-block;
  min-height: 300px;
  vertical-align: top; }

#slideshow {
  background: white;
  border: 3px double gray;
  border-width: 3px 0; }

#sponsors .logoclouds {
  text-align: center; }

.message {
  background: url(../images/jruby_duke.png) left 50% no-repeat;
  font-style: italic;
  height: 60px;
  padding-left: 64px;
  line-height: 50px; }

#information {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #bbb;
  background: #fff;
  margin: 5px;
  padding: 10px;
  margin-right: 450px;
  margin-left: 435px;
  width: 590px; }

#registration form {
  margin: 30px; }
  #registration form input {
    display: block;
    width: 100%;
    margin: 4px;
    font-size: 120%; }
