body {
  margin: 0;
  padding: 0;
  background: #eee; }

h1 {
  background: url("../images/jrubykaigi2011_logo.png") no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
  width: 1000px;
  height: 240px; }

#wrapper {
  width: 960px;
  margin: auto; }

#main > * {
  border: 1px solid red;
  width: 300px;
  height: 500px;
  display: block;
  float: left;
  margin: 5px;
  vertigal-align: top; }

#main:after {
  content: "hoge";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden; }

#parts > * {
  width: 240px;
  border: 1px solid pink;
  display: inline-block;
  margin: 5px;
  vertical-align: top; }

#slideshow {
  background: white;
  border: 3px double gray;
  border-width: 3px 0; }

.message {
  background: url(../images/jruby.png) left 50% no-repeat;
  font-style: italic;
  height: 60px;
  padding-left: 64px;
  line-height: 50px; }
