body {
	background:#fff url(../images/bg.gif) 0 0 repeat;
	color:#555;
	font-size:62.5%;
	font-family:Helvetica, Arial;
	font-style:normal;
	line-height:1.1em;
}

p {
	font:1.3em/1.6em Helvetica, arial;
}
p, address { font-style:normal; }

a:link, a:visited {
	color:#ccc;
	text-decoration:none;
}
a:hover { text-decoration:underline; }



/* = Structural Styles = */
#wrapper {
	background:url(../images/bg_mast.gif) 0 0 repeat-x;
	text-align:center;
	width:100%;
}
#container {
	background:url(../images/headerBg.png) 0 0 no-repeat;
	margin:0 auto;
	padding:;
	text-align:left;
	width:915px;
}

.header {
	height:129px;
	margin:0 0 91px;
	padding:1px 0 0;
}
	.header h1 {
		margin:29px 0 0;
	}

#primary.nav {
	height:33px;
	margin:0 0 0 15px;
}
	#primary.nav ul {
		background:url(../images/menu_off.png) 0 0 no-repeat;
		height:33px;
	}
	#primary.nav li {
		display:inline;
		float:left;
		font:1.4em/1em Helvetica, Arial, sans-serif;
		height:33px;
		margin:0 15px 0 0;
		padding:0 0 0;
		width:225px;
	}
	#primary.nav li a {
		display:block;
		height:33px;
		text-indent:-999em;
		width:232px;
	}
	#primary.nav li a:link, #primary.nav li a:visited, #primary.nav li.selected a:hover {
		color:#fff;
		text-decoration:none;
	}
	#primary.nav li a:hover {
		text-decoration:underline;
	}
	#primary.nav li.last {
		margin-right:0;
	}
	#primary.nav li.selected {
		font-weight:600;
	}
	#primary.nav li.selected a {
		color:#252525 !important;
		position:static !important;
	}
	
	li#nav_overview_ja a { background:url(../images/menu_off_ja.png) 0 0 no-repeat; }
	li#nav_schedule_ja a { background:url(../images/menu_off_ja.png) -240px 0 no-repeat; }
	li#nav_sponsors_ja a { background:url(../images/menu_off_ja.png) -480px 0 no-repeat; }
	
	li#nav_overview_ja a:hover, li#nav_overview_ja.selected a { background:url(../images/menu_on_ja.png) 0 0 no-repeat; }
	li#nav_schedule_ja a:hover, li#nav_schedule_ja.selected a { background:url(../images/menu_on_ja.png) -240px 0 no-repeat; }
	li#nav_sponsors_ja a:hover, li#nav_sponsors_ja.selected a { background:url(../images/menu_on_ja.png) -480px 0 no-repeat; }

	li#nav_overview_en a { background:url(../images/menu_off_en.png) 0 0 no-repeat; }
	li#nav_schedule_en a { background:url(../images/menu_off_en.png) -240px 0 no-repeat; }
	li#nav_sponsors_en a { background:url(../images/menu_off_en.png) -480px 0 no-repeat; }
	
	li#nav_overview_en a:hover, li#nav_overview_en.selected a { background:url(../images/menu_on_en.png) 0 0 no-repeat; }
	li#nav_schedule_en a:hover, li#nav_schedule_en.selected a { background:url(../images/menu_on_en.png) -240px 0 no-repeat; }
	li#nav_sponsors_en a:hover, li#nav_sponsors_en.selected a { background:url(../images/menu_on_en.png) -480px 0 no-repeat; }
	
	* html #primary.nav li { font-size:1.6em; }
	* html #primary.nav li a { display:inline-block; }
	* html #primary.nav ul {height:1% !important; display: inline-block; margin-bottom: -18px;}

#content {
	background: none;
	float:left;
	min-height: 625px;
	padding: 20px 0px 20px;
	width:727px;
}
  #content h2 {
    margin-left: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: 2em;
    color: #fff;
  }
	#overview h2.pageTitle {
		background:url(../images/event-overview.png) 0 0 no-repeat;
		height:36px;
		margin:10px 0;
		text-indent:-999em;
	}
	#event_schedule h2.pageTitle {
		background:url(../images/event-schedule.png) 0 0 no-repeat;
		height:36px;
		margin:10px 0;
		text-indent:-999em;
	}
	#event_sponsors h2.pageTitle {
		background:url(../images/event-sponsors.png) 0 0 no-repeat;
		height:36px;
		margin:10px 0;
		text-indent:-999em;
	}
	#content p.register_now {
		float:right;
		padding:5px;
	}
	#content p.intro {
		color:#fff;
		font:1.4em/1.6em Helvetica, Arial;
		margin:0;
		padding:0;
		width:520px;
	}

.aside {
	background:url(../images/ribbon2.png) 0 0 no-repeat;
	display:inline;
	float:right;
	height:976px;
	padding:0 0 0;
	position:relative;
	text-align:center;
	top:-31px;
	width:172px;
}
  .aside h
  .aside h5 {
    font-size: 1.5em;
  }
	.aside {
		background:url(../images/ribbon2.png) 0 0 no-repeat;
		height:976px;
	}
	.aside h3 {
		background:url(../images/speakers-2.png) 0 0 no-repeat;
		height:17px;
		width:120px;
		margin:34px auto 0;
		text-indent:-999em;
	}
	.aside ul {
		margin:30px auto 0;
		width:104px;
		}
	.aside ul li {
		margin:0 0 20px;
	}
	.aside ul li {
			margin-bottom:18px;
		}
	.aside ul li div.speaker_name {
		color:#555;
		font:bold 1.4em Helvetica, Arial;
		margin:8px 0 0;
	}
	.aside ul li span.title_co {
		color:#555;
		font:1.3em/1.2em Helvetica, Arial;
	}
	.aside p {
		padding:0 15px;
	}
	
	
/* == Content Layout by page
--------------------------------------*/
	#preamble {
		height:150px;
		margin:0 0 20px;
		padding:0 0 10px;
		overflow:hidden;
	}

	/* Home Page - Next Event */
	#location {
		clear:left;
		width:304px;
	}
		#location h3 {
			background:url(../images/location.png) 0 0 no-repeat;
			height:25px;
			margin:0 0 20px;
			text-indent:-999em;
			width:160px;
		}
			#location img.floatLeft {
				margin:0 7px 0 0;
			}
			#location p {
				color:#fff;
				font: 1.1em/1.2em Helvetica, Arial;
				margin:0 0 12px;
				text-transform:uppercase;
			}
			#location p a {
				color:#ccc;
				text-decoration:none;
			}
		
	/* Home Page - Speakers */
	#language {
		display:inline;
		float:left;
		margin:0 0 22px;
		width:304px;
	}
		#language p {
			font: 2em/2.2em Helvetica, Arial;
			letter-spacing:1px;
		}
	#speakers {
		display:inline;
		float:left;
		margin:0 0 22px;
		width:304px;
	}
		#speakers h3 {
			background:url(../images/sponsors.png) 0 0 no-repeat;
			height:35px;
			text-indent:-999em;
			width:199px;
		}
		#speakers li {
			clear:left;
			margin:-16px 0 1em 0;
		  text-align: center;
		}
		#speakers p {
			font-size:1em;
			line-height:1.2em;
		}
		.aside a {
		  color: #666;
		}
		.aside a[href*=speakers] {
		  text-align: center;
		  margin-bottom: 10px;
		}
		#speakers ul { margin-top:28px; }
		p#more_speakers { font-size:1.4em; }
		
	/* Schedule - Event Schedule */
	#wrap {
		float:right;
	}
	#news, #schedule {
		width:404px;
	}
		#news h3 {
			background:url(../images/news.png) 0 0 no-repeat;
			height:26px;
			margin:0 24px 11px;
			text-indent:-999em;
			width:175px;
		}
		#schedule h3 {
			background:url(../images/schedule.png) 0 0 no-repeat;
			height:26px;
			margin:0 24px 11px;
			text-indent:-999em;
			width:175px;
		}
		#news dl {
			color:#d9d9d9;
			font: 1.5em/1.1em 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial;
			padding: 0 10px 10px 10px;
		}
		#news dt {
			float: left;
			clear: both;
			padding: 10px;
		}
		#news dd {
			padding: 10px;
			font-size:1.15em;
		}
		#news, #schedule > p {
			margin-bottom: 20px;
		}
		#schedule table {
			color:#d9d9d9;
			font: 1.5em/1.1em 'Lucida Sans', 'Lucida Sans Unicode', Helvetica, Arial;
			padding:0 0 10px;
			width: 100%;
		}
		#schedule td {
			border-top: 1px solid #525252;
			height: 20px;
			padding: 10px;
			/*vertical-align: middle;*/
		}
		td.time { width:110px; }
		td.event {
			border-bottom:0;
			font-size:1.15em;
		}
		td.event strong {
				color:#fff;
				font-weight:bold;
			}


#schedule_of_events .mid, #the_speakers .mid, #the_sponsors .mid, #the_special_thanks .mid, #the_individual_sponsor .mid { padding:0; }

.sponsor {
	padding:20px 28px 28px 36px;
}
.event {
	border-bottom:1px solid #525252;
	padding:20px 28px 20px 36px;
	clear:both;
}
	.event h4 {
		color:#fff568;
		font:2.3em/1.2em Helvetica, Arial;
		margin:10px 0 0px;
	}
	.event h5 {
		color:#ffffcc;
		font:1.5em/1.2em Helvetica, Arial;
		margin:0 0 9px;
	}
	.event p {
		color:#f7f7f7;
		font:1.3em/1.6 Helvetica, Arial;
		margin:10px 0 0;
	}
	.event span {
		color:#fff;
		font:1.7em Helvetica, Arial;
		text-transform:uppercase;
	}
	.last_item { border:0; }

	.speaker {
		border-left:3px solid #525252;
		margin:10px 0;
		padding:10px 0 3px 15px;
	}
	.speaker img.floatLeft {
		margin:0 15px 0 0;
	}
	
#location_info .mid { padding:1px 40px 32px 0; }
	#location_info address {
		color:#fff;
		font:1.8em/1.4em Helvetica, Arial;
		margin:0 0 28px 247px;
	}
	#location_info address span { display:block; }
	#location_info h3 {
		color:#fff568;
		font:bold 2.5em/1.1 Helvetica, Arial;
		margin:24px 0 16px;
	}
	#location_info img.floatLeft {
		margin:24px 32px 0 34px;
	}
	#location_info p {
		color:#fff;
	}
	.sponsor h3.sponsor_name {
		color:#fff;
		font:bold 1.7em Helvetica, Arial;
	}
	.sponsor p {
		color:#fff;
		margin:13px 0 0;
	}
	.sponsor p {
	  padding-left: 155px;
	}
	.sponsor p.service_product {
		color:#fff568;
		font:1.6em/1.2em Helvetica, Arial;
		margin:0 0 13px;
	}
	
.sponsor a.floatLeft {
	margin:0 18px 0 0;
	text-align:center;
	width:136px;
}	

	
/* == General Classes
--------------------------------------*/
.box305 {
	background:url(../images/box305_top.png) 0 0 no-repeat;
	padding-top:6px;
}	
	.box305 .bot {
		background:url(../images/box305_bot.png) 0 0 no-repeat;
		font-size:1px;
		height:6px;
	}
	.box305 .mid {
		background:url(../images/box305_mid.png) 0 0 repeat-y;
		padding:16px 24px;
	}
	
.box404 {
	background:url(../images/box404_top.png) 0 0 no-repeat;
	padding-top:6px;
}	
	.box404 .bot {
		background:url(../images/box404_bot.png) 0 0 no-repeat;
		font-size:1px;
		height:6px;
	}
	.box404 .mid {
		background:url(../images/box404_mid.png) 0 0 repeat-y;
		padding:16px 0 0;
	}

.box722 {
	background:url(../images/box722_top.png) 0 0 no-repeat;
	padding-top:6px;
	width:722px;
}	
	.box722 .bot {
		background:url(../images/box722_bot.png) 0 0 no-repeat;
		font-size:1px;
		height:6px;
	}
	.box722 .mid {
		background:url(../images/box722_mid.png) 0 0 repeat-y;
		padding:16px 0 0;
	}


.clear { clear:both; height:0; font-size: 1px; }
.floatLeft {
	display: inline;
	float: left;
}
.floatRight {
	display: inline;
	float: right;
}



/* Clearing */
.cB:after,  .section:after, .eventLocation:after, #content:after { clear: both; content:'.'; display: block; height: 0; visibility: hidden; }
.cL:after, .speaker:after, .sponsor:after { clear:left; content:'.'; display: block; height: 0; visibility: hidden; }
.cB, .cL, .section, .speaker, .sponsor, .eventLocation, #content { display:inline-block; }
/* hide \*/
* html .cB, * html .cL, * html .section, * html .sepaker, * html .sponsor, * html #content { height:1%; }
.cB, .cL, .section, .speaker,.sponsor, #content { display:block; }
/* end hide */